body{
    background: linear-gradient(to left, #F3904F, #3B4371);
}

.container{
    width: 320px;
    margin: 120px auto auto 500px;
}

table{
    width: 150%;
    border: #f4f4f4;
}

td{
    width: 25%;
}

button{
    width: 100%;
    height: 70px;
    font-size: 25px;
    border: none;
    border-color: none;
    background-color: white;
}

#inputLabel{
    height: 120px;
    font-size: 50px;
    vertical-align: bottom;
    text-align: right;
    background-color: #ececec;
}
